* {
  box-sizing: border-box;
}

html {
  font: normal 16px Helvetica, Arial, sans-serif;
  color: #545459;
}

.container {
  border: 2px solid gray;
  width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

section h1, section h2, section h3 {
  color: #ce4a4a;
  margin: 20px 0;
}

section p {
  line-height: 35px;
  margin-bottom: 25px;
}

section h2 {
  font-size: 1.25rem;
}

section h3 {
  font-size: 1rem;
}

section .border {
  border: 2px dashed #555;
  margin: 45px;
  padding: 30px;
  width: 650px;
}

section a {
  text-decoration: none;
  color: inherit;
}

section .inline-margin a {
  margin: 30px;
}

section .inline-padding a {
  padding: 30px;
  background-color: green;
  color: white;
}

section .floating a {
  float: left;
  margin: 15px;
  border: darkgreen 3px solid;
  padding: 25px;
  width: 120px;
  text-align: center;
}

section .floating {
  overflow: hidden;
}

.block .box-1 {
  background-color: dodgerblue;
  color: white;
}

.block .box-2 {
  background-color: green;
  color: white;
  padding: 20px;
  margin: 20px;
  height: 60px;
}

.block .box-3 {
  background-color: tomato;
  width: 90px;
  color: white;
}

.block .box-4 {
  background-color: pink;
  color: white;
  width: 180px;
  height: 120px;
  padding: 20px;
  margin: 20px;
}

.block .wrapper {
  margin-bottom: 35px;
}

.cf::before, .cf::after {
  content: "";
  display: block;
}

.cf::after {
    clear: both;
}

.block .fl-1 {
  background-color: dodgerblue;
  color: white;
  border: 1px red solid;
  float: left;
}

.block .fl-2 {
    background-color: tomato;
    color: white;
    border: 1px red solid;
    float: right;
}

.block .fl-3 {
  background-color: tomato;
  color: white;
  width: 40%;
  height: 70px;
  line-height: 70px;
  text-align: center;
  float: left;
}

.block .fl-4 {
    background-color: dodgerblue;
    color: white;
    width: 50%;
    height: 70px;
    line-height: 70px;
    text-align: center;
    float: right;
}

.block .bl-a {
  display: block;
  margin: 10px;
  padding: 10px;
  background-color: dodgerblue;
  color: white;
  margin: 10px;
  text-align: center;
}

.inline-block .nav {
  text-align: center;
}

.inline-block .nav a {
  display: inline-block;
  padding: 20px 30px;
  margin: 20px 8px 25px;
  width: 180px;
  border: 1px solid #1b95e0;
  background-color: dodgerblue;
  color: white;
}

.inline-block::after {
  display: block;
  content: "";
  border-bottom: 2px dashed #545459;
  padding-top: 30px;
  width: 100%;
}

.pos-fl h1 {
  text-align: center;
  margin: 30px 0 25px;
}

.pos-fl .wrapper {
  margin-bottom: 35px;
}

.pos-fl .wrapper .flbx-1 {
  background-color: tomato;
  color: white;
  font-weight: bold;
  text-align: center;
  float: left;
  width: 450px;
  height: 100px;
  line-height: 100px;
}

.pos-fl .wrapper .flbx-2 {
  background-color: dodgerblue;
  color: white;
  font-weight: bold;
  text-align: center;
  float: left;
  width: 505px;
  height: 100px;
  line-height: 100px;
}

.pos-fl .wrapper .flbx-3 {
  background-color: seagreen;
  color: white;
  font-weight: bold;
  text-align: center;
  height: 50px;
  line-height: 50px;
  clear: both;
}

.pos ul {
  margin: 0 0 45px 40px;
}

.pos ul li {
  font-style: italic;
  margin-bottom: 10px;
}

.pos-fixed div {
  width: 225px;
  padding: 25px 35px;
  text-align: center;
  background-color: dodgerblue;
  color: white;
  border-radius: 10px;
  position: fixed;
  bottom: 50px;
  left: 35px;
}

.pos-rel div {
  width: 325px;
  padding: 25px 35px;
  text-align: center;
  background-color: tomato;
  color: white;
  border-radius: 10px;
  position: relative;
  bottom: -45px;
  right: 90px;
  margin-bottom: 30px;
}

.pos-abs {
  position: relative;
}

.pos-abs .wrap div {
  width: 200px;
  padding: 25px 35px;
  text-align: center;
  background-color: green;
  color: white;
  border-radius: 10px;
  position: absolute;
  top: -30px;
  left: 230px;
}